body
{ 
    font-family: 'Raleway', sans-serif, arial, verdana;
    width: 900px;
    margin: auto;
    background-color: #ffffff;
}
h1
{
    font-size: 18px;
    font-weight: 800;
}
p
{
    font-size: 14px;
    font-weight: 300;
}
header
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
#logo-Reservia img
{
   height: 80%;
}
nav ul
{
    display: flex;
    list-style-type: none;
    font-size: 14px;  
    font-weight: 501;  
}   
nav li
{
    padding-right: 40px;
    color: #0065fc; 
}

nav a
{
    text-decoration: none;
    color: black;   
}
nav a:hover
{
    color:#0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 30px;       
}
#search
{
    display: flex;
    flex-direction: column;  
}
#search h1
{
    margin-bottom: 2px;
}
#search p
{
    margin-top: 2px;
}
#search-bar
{
    display: flex;
    align-items: center;
}
#loupe
{
    padding: 12px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    height: 15px;
    margin: 0px;
    width:15px;
    background: #f2f2f2f2;
}
