body
{ 
    font-family: 'Raleway', sans-serif, arial, verdana;
    max-width:1440px;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
}
#container
{
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
h1
{
    font-size: 1em;
}

/* Logo et menu*/

header
{
    display: flex;
    max-width: 1440px;
    justify-content: space-between; 
    padding-top: 50px;
    margin: 0px 45px 50px 5px;    
}
nav
{
    display:flex;     
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}
nav ul
{
    display: flex;
    list-style-type: none;  
    justify-content: space-around;  
}   
nav li
{
    color: #0065fc; 
    font-weight: bold; 
    margin-left: 20px;  
}
 nav a
{
    text-decoration: none;
    color: black;  
    font-weight: 500;
    padding-right: 10px;
    padding-left: 10px;
}
nav li a:hover
{
    color:#0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 50px;     
}
.inscription
{
    color: #0065fc;
    font-weight: bold; 
    margin-left: 24px;
}
#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Section Search*/

.search
{
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    margin-left:15px;    
}
.search h2
{
   padding: 0;
   margin-bottom: 15px;
}
.search p
{  
    padding:0px;
    margin-bottom:24px;  
}
.search-bar
{
    display: flex; 
    margin-bottom: 30px;    
}
.loupe
{
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2; 
    background: #f2f2f2f2;
}
form
{ 
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    border-right:1px solid #f2f2f2 ;
    border-radius: 0px 15px 15px 0px;  
}
input[type=text]
{
    border-style: none;  
    text-align: center;
    font-weight:bold;
    font-size:16px ;
}
input[type=submit]
{
    border-style: none;    
    border-radius: 0px 15px 15px 0px;
    height: 48px;    
    background-color:#0065fc ;    
    color: white;  
    font-size: 18px;
    padding: 0 15px 0 15px;
}
button[type=submit]
{
    display: none;
}

/* Section Filtres*/

.filtres
{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 15px; 
}
.filtres ul
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 5px;
    align-items: center;
}
.barre-filtres
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}
.barre-filtres h3
{
    padding-bottom: 13px;
}
.filtres li
{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 12px;
}
.filtres li p
{
    padding: 12px 20px 13px 46px;
    border: 2px solid #f2f2f2;
    border-radius: 20px 20px 20px 20px; 
}
.cercle-filtre
{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-right: -40px;  
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: #deebff; 
    z-index: 10;  
    color: #0065fc;   
}
.barre-filtres p
{
    font-weight: bold;
}
.filtres li :hover
{
background-color: #deebff;
}
.cercle-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    height: 30px;
    width: 30px;
}
.infos
{
    display: flex;
    align-items: center;  
    margin-bottom: 32px;   
}

/* Section Hébergements*/

.all-hebergements
{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 40px;
}

/* Section Hébergements à Marseille*/

.bloc-hebergements
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;   
    background-color:#f2f2f2;
    max-width: 800px;
    padding: 0 40px;
    margin-top: 5px; 
}
.container-vignette
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;    
 } 
.vignette-hebergement
{
    max-width: 246px;
    max-height: 190px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px; 
    padding-bottom: 35px; 
    /* padding: 5px; */
    box-shadow: 0px 0px 15px 8px rgba(19, 18, 18, 0.027);    
}
.vignette-hebergement img
{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
.stars
{
    color: #0065fc;
}
.grey-star
{
    color:#F2F2F2
}
a
{
    text-decoration: none;
    color: black;
}
.vignette-hebergement h3,p,.stars
{
    padding-left: 15px;
}

.prix
{
    font-weight: bold ;
}
#hebergements 
{
    padding-top: 40px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.bloc-hebergements h3
{
    margin-bottom: 40px;
}
.container-vignette h3
{
    margin-top: 10px;
    margin-bottom: 5px;
}
.container-vignette p
{
    margin-top: 0px;      
}

/* Section Les plus populaires */

.populaires
{
    display:flex;
    flex-direction: column;  
    justify-content: space-around;
    max-width: 340px;  
    border-radius: 20px; 
    padding: 40px;  
    background-color:#f2f2f2 ;  
    margin-top: 5px;
}
.hebergements-populaires
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}     
.titre-populaire
{
    display:flex ;
    justify-content: space-between;
    align-items: center;    
}
.titre-populaire h2
{
    margin: 0px;
}
.inside-vignette
{
    display: flex;
}
.vignette-populaire
{
    max-width: 345px;
    background-color: white;
    border-radius: 20px; 
    margin-top: 30px;  
    box-shadow: 0px 0px 15px 8px rgba(19, 18, 18, 0.027);
}
.vignette-populaire img
{
    width: 126px;
    height: 134px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
    padding: 5px;
}
.text-vignette h3,p
{
    padding-left: 15px;    
}
.text-vignette h3
{
    margin-top:10px;
    margin-bottom: 5px;
}
.text-vignette p
{
    margin-top: 0px;
    margin-bottom: 40px;
}

/* Section Activités à Marseille */

.activites-marseille
{
    display: flex;
    flex-direction: column;
    padding: 20px 10px 30px 15px;
}
.activites-marseille h2
{
    padding-bottom: 15px;
}
.presentation-activites
{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.colonne1 img
{
    width: 302px;
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.colonne3 img
{
    width: 302px;
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.fort-pomegues img
{
    width: 302px;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.iles-frioul img
{
    width: 302px;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.notre-dame img
{
    width: 302px;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.parc-longchamp img
{
    width: 302px;
    height: 152px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.colonne1, .colonne3, .fort-pomegues,.iles-frioul,.notre-dame,.parc-longchamp
{
    max-width: 302px;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0px 0px 15px 8px rgba(19, 18, 18, 0.027);
}
.presentation-activites h3
{
    padding-left: 20px;
    padding-bottom: 10px;
}
 .colonne2,.colonne4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

/* Footer */

footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background: #F2F2F2;
}
footer ul
{
   list-style-type: none;
   padding-left: 0px;
}
footer h3
{
    padding: 20px 0;
}
footer li
{
    padding-bottom: 5px;
}
.end
{
    margin-left: 50px;
}

/* RESPONSIVE*/

    @media all and (max-width:1310px){

        /* Section les plus populaires*/
            .populaires
        {
            margin-left: 10px;
        }
    }

    @media all and (max-width:1000px){
        /* Section Hébergements*/
            .all-hebergements
        {
            flex-wrap: wrap-reverse;
        }
        /* Section les plus populaires*/
        .populaires
        {
            max-width: 100%;
            margin-left: 0px;            
        }
    }
    @media all and (max-width:630px){  
        /* Section Search*/
        .search
        {
            margin-left: 20px;
        } 
        input[type=submit]
        {
            display: none;
        }
        button[type=submit]
        {
            display:inline;
            border-style: none;    
            border-radius: 15px;
            height: 48px;    
            background-color:#0065fc ;    
            color: white;  
            font-size: 18px;
            padding: 0 15px 0 15px;
        }        
        .barre-filtres h3 
        {
            margin-left: 15px;
        }
        .filtres li
        {
            margin-left: 8px;
        }
        /* Section Hébergements*/

        .all-hebergements
        {
            flex-wrap: wrap-reverse;
            justify-content: space-between;
        } 
        /* Section Hébergements à Marseille*/  

        .bloc-hebergements
        {
            background: none; 
            padding: 0 20px; 
        }  
        .vignette-hebergement
        {
            max-width: 336px;
            max-height: 200px;
            margin-bottom: 10px;
            
        } 
        /* Section les plus populaires*/

        .titre-populaire h2 
        {
            margin-bottom: 15px;
        }
        .populaires
        {
            border-radius: 0rem;
            padding: 0;
            padding: 40px 20px;
        }
        .vignette-populaire
        {
            margin-top: 10px;
        }
    }

    @media all and (max-width:425px){
        /* Header*/

        header
        {
            position: relative;
            padding:30px 0px 100px 0px;
            margin: 0;
        }
        .logo-Reservia
        {
            padding-left: 10px;        
        }
        .inscription
        {
            padding-right: 5px;
        }
        nav
        {
            flex-wrap: wrap-reverse;
            justify-content: flex-end;
        }
        nav ul
        {
            display:flex;
            width:100%;
            position: absolute;
            top:100px;             
        }
        nav li
        {
            color: #0065fc; 
            font-weight: bold; 
            margin-left: 0px;  
            padding: 20px 41px 20px 92px;                     
            border-bottom: 2px solid #f2f2f2 ; 
        } 
        nav li:hover
        {
            border-bottom: 2px solid #0065fc;
        } 
        nav li a:hover
        {
            border-top: 0px;        
        }
         /* Section Activites*/

        .activites-marseille
        {
            padding: 20px 10px 30px 55px;
        }
    }


    @media all and (max-width:375px){
        /* Header*/

        nav li
        {           
            padding: 17px 37px 20px 73px;
        }
        /* Section Activites*/

        .activites-marseille
        {
            padding: 20px 10px 30px 15px;
        }

        .colonne1, .colonne3, .fort-pomegues, .iles-frioul, .notre-dame, .parc-longchamp
        {
            margin-top: 22px;
            max-width: 334px;
            max-height:190px ;
        }
        .activites-marseille h2
        {
            padding-bottom: 5px;
        }
        .activites-marseille img 
        {
            width: 100%;
            height: 60%;
            object-fit: cover;        
        }
        .activites-marseille
        {
            margin-left: 5px;
        }
               /* Footer*/

        footer
        {
            justify-content: space-between;
        }
    }

    @media all and (max-width:345px){
        /* Header*/
        nav li
        {
            padding: 20px 12px 20px 70px;
        }
    }

    @media all and (max-width:320px){
        /* Section Hébergements à Marseille*/
    
        .bloc-hebergements
        {
            padding: 0 5px; 
        } 
         /* Section les plus populaires*/

        .populaires
        {
            padding: 40px 5px;
        }
         /* Section Activites*/

        .activites-marseille
        {
            margin: 0px;
        }
    }